@font-face {
    font-family:neu ;
    src: url('./NeueHaasDisplayMediu.ttf');
}

@font-face {
    font-family:neu ;
    font-weight: 100;
    src: url('./NeueHaasDisplayLight.ttf');
}

@font-face {
    font-family:neu ;
    font-weight: 200;
    src: url('./NeueHaasDisplayRoman.ttf');
}
#main{
    position: relative;
    z-index: 10;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'neu';
}
html,body{
    height: 100%;
    width:100%;
    background-color: black;
}
#page1{
    min-height:100vh;
    width: 100%;
    background-color: black;
    position: relative;
    padding: 0 2vw;
}
nav {
    padding: 2vw 2vw;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: space-between;
}

#nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}
#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #fffefeaa;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.3s;
}
#nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    color: #ffffffe3;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#page1 nav img{
    height: 100% ;
}
#nav-part2 h4:hover a{
    color: black;
}
#center{
    height: 65vh;
    width:100%;
    /* background-color: orange; */
    color: #ffffffe3;
    display: flex;
    align-items:flex-end;
    border-bottom: 1px solid #ffffff6b;
    justify-content: space-between;
    padding-bottom: 2.5vw;
}
#left h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}
#center h1{
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}
#page1 video{
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
    position: relative;
} 

#hero-shape{
    position: absolute;
    height: 30vw;
    width: 40vw;
    /* background-color: #FE410F; */
    /* border-radius: 50%; */
    /* border-top-left-radius: 50%;
    border-bottom-left-radius: 50%; */
    right: 0;
    top: 90vh;
    /*  */
}
#hero1 {
    background-color: #FE320A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(30px);
    position: absolute;
}

#hero2 {
    background: linear-gradient(#FE320A, #fe3f0a);

    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(30px);
}

#hero3 {
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 30vw;
    position: absolute;
    width: 30vw;
    border-radius: 50%;
    filter: blur(30px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#page2{
    min-height: 100vh;
    width: 100%;
    position:relative;
    background-color: black;
}
#moving-text{
    white-space: nowrap;
}
.con{
    /* background-color: lightblue; */
    padding-top: 6vh;
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
#moving-text{
     white-space: nowrap;
    overflow-x: auto;
}
#moving-text::-webkit-scrollbar{
    display: none;
}
#moving-text h1{
    font-size: 9vw;
    display: inline-block;
    color: #fff;
}
#gol{
    height: 70px;
    width: 70px;
    background-color: #FE320A;
    border-radius: 50%;
    display: inline-block;
    margin: 1vw 2vw;
}
#pg2-btm{
    height: 80vh;
    width: 100%;
    /* background-color: aliceblue; */
    padding: 4.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    position: relative;
    z-index: 9;
}
#pg2-btm h1{
    font-size: 3.5vw;
    width: 2%;
    line-height: 4vw;
}

#btm-pt2{
    width: 30%;
}
#btm-pt2 img{
    padding-top: 2vw;
    width: 75%;
    border-radius: 20vh;
}
#btm-pt2 p{
    font-weight: 200;
    margin-top:2vw;
    font-size: 1.5vw;
}

@keyframes move {
    from{
        transform: translateX(0);
    }
    TO{
        transform: translateX(-100%);
    }
    
}


@keyframes anime1 {
    from {
        transform: translate(55%, 10%);
    }

    to {
        transform: translate(0%, 20%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}



#page2 #gol2{
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(to top right,#fd2b01, #fe700a);
    top: 60%;
    left: 25%;
    filter: blur(30px);
    animation-name: agol;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    
}

#gola1{
    height: 100%;
    width: 100%;
}

#page3{
    padding-top: 8vw 0;
    min-height: 100vh;
    width: 100%;
    background-color:black;
}
@keyframes agol{
    from{
        transform:translate(10%,-10%) skew(0)
    }
    to{
        transform:translate(-10%,10%) skew(-12deg)
    }
}

.elem{
    height: 100px;
    width: 100%;
    color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0 2vw;
}
.elem h2{
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

.elem .overlay{
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.25s;
}
.elem:hover .overlay{
    top: 0;
}
#fixed-img{
    height: 30vw;
    width: 23vw;
    /* background-color: rgb(255, 0, 0); */
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    top: 25%;
    left: 50%;
    display: none;
    background-size: cover;
    background-position: center;
}

#page4 {
    height: 70vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 10vw 2vw;
}


.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide { 
    width: 30%; 
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-left: 1px solid #000;
    
    padding: 0 2vw;
   }


  .swiper-slide img {
    display: block;
    /* width: 20%; */
    height: 100%;
    object-fit: cover;
  }



  #footer {
    position: fixed;
    height: 105vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    z-index: 9;
    bottom: 0;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 3vw;
}

#footer h1{
    font-size: 16vw;
}

#footer-div{
    height: 20vh;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: flex-end;
}

#footer-btm{
     border-top: 1px solid #dadada ;
     height: 10vh;
     width: 100%;
}
#page5 {
    height: 100vh;
    width: 100%;
    /* background-color: #EFEAE3; */
}

#cont{
    line-height: 2;
    margin: 2vw;
}
nav h3{
    display: none;
    color: white;
}
#full-scr{
    height: 100vh;
    width: 100%;
    background-color:#ffffff43 ;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.5s;
}

#full-div1{
    height: 50%;
    width: 100%;
    background-color: #000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media (max-width:600px) {

    #page1{
        min-height:100vh;
        width: 100vw;

        padding: 0 0vw;
    }
    nav {
        padding: 8vw 5vw;
        background-color: #000;
    }
    nav img{
        transition: all ease 0.5s;
        border-radius: 18px;
        width: 6vh;
    }

   nav h3{
    display: block;
   }

    #nav-part2{
        display: none;
        padding: 3vw 5vw;
        border: 1px solid #dadada;
        border-radius: 50px;
        font-size: 5vw;
        font-weight: 200;
        padding-left: 10vw;
    }


    #center{
        height: 62vh;
        width:100%;
        /* background-color: orange; */
        color: #ffffffe3;
        display: flex;
        align-items:flex-end;
        border-bottom: 1px solid #ffffff6b;
        justify-content: space-between;
        padding-bottom: 10vw;
        flex-direction: column-reverse;
        padding: 7vw 5vw;
        position: relative;
        z-index: 9;
    }
    #left h3{
        width: 80%;
        font-size: 5.8vw;
        line-height: 7vw;
    }
    #center h1{
        font-size: 17vw;
        line-height: 15vw;
        text-align: right;
    }
    #page1 video{
        width: 92%;
        border-radius: 20px;
        margin-top: 4vw;
        height: 70vh;
        object-fit: cover;
        object-position: center;
        position: relative;
        margin-left: 4%;
    } 
    
    #hero-shape{
        position: absolute;
        height: 76vw;
        width: 82vw;
        /* background-color: #FE410F; */
        /* border-radius: 50%; */
        /* border-top-left-radius: 50%;
        border-bottom-left-radius: 50%; */
        right: 0;
        top: 90vh;
        /*  */
    }
    #hero1 {
        background-color: #FE320A;
        height: 100%;
        width: 100%;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        filter: blur(30px);
        position: absolute;
    }
    
    #hero2 {
        background: linear-gradient(#FE320A, #fe3f0a);
    
        height: 30vw;
        width: 30vw;
        border-radius: 50%;
        position: absolute;
        animation-name: anime2;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        filter: blur(30px);
    }
    
    #hero3 {
        background: linear-gradient(#FE320A, #fe3f0a);
        height: 30vw;
        position: absolute;
        width: 30vw;
        border-radius: 50%;
        filter: blur(30px);
        animation-name: anime1;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    #page2{
        min-height: 100vh;
        width: 100%;
        position:relative;
        background-color: black;
    }
    #moving-text{
        white-space: nowrap;
    }
    .con{
        /* background-color: lightblue; */
        padding-top: 6vh;
        white-space: nowrap;
        display: inline-block;
        animation-name: move;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    
    }
    #moving-text{
         white-space: nowrap;
        overflow-x: auto;
    }
    #moving-text::-webkit-scrollbar{
        display: none;
    }
    #moving-text h1{
        font-size: 14vw;
        display: inline-block;
        color: #fff;
    }
    #gol{
        height: 25px;
        width: 25px;
        background-color: #FE320A;
        border-radius: 50%;
        display: inline-block;
        margin: 2vw 2vw;
    }
    #pg2-btm{
        height: 80vh;
        width: 100%;
        /* background-color: aliceblue; */
        padding: 4.5vw;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        color: #fff;
        position: relative;
        flex-direction: column;
        z-index: 9;
    }
    #pg2-btm h1{
        font-size: 8vw;
        width: 10  0%;
        line-height: 10vw;
    }
    
    #btm-pt2{
        width: 75%;
    }
    #btm-pt2 img{
        padding-top: 2vw;
        width: 75%;
        border-radius: 20vh;
    }
    #btm-pt2 p{
        font-weight: 200;
        margin-top:2vw;
        font-size: 3vw;
    }
    #page2 #gol2{
        height: 62vw;
        width: 62vw;
        border-radius: 50%;
        position: absolute;
        background: linear-gradient(to top right,#fd2b01, #fe700a);
        top: 60%;
        left: 25%;
        filter: blur(30px);
        animation-name: agol;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
        
    }
    
}


#loader{
    height: 100%;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 999;
    top: 0;
     transition: all linear 0.5s;
     display: flex;
     align-items: center;
     justify-content: center ;
}

#loader h1{
    font-size: 4vw; 
    color:transparent;
    background: linear-gradient(to right,orange,orangered); 
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear; 
}

#loader h1:nth-child(2){
     animation-delay: 2s;
}
#loader h1:nth-child(3){
    animation-delay: 3s;
}
#loader h1:nth-child(4){
    animation-delay: 4s;
}
@keyframes load{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1 ;
    }
    100%{
        opacity: 0;
    }
}


@media (max-width:600px) {
    #loader h1{
        font-size: 10vw; 
    }
}