@font-face {
    font-family:neu ;
    src: url('./NeueHaasDisplayMediu.ttf');
}

@font-face {
    font-family:neu ;
    font-weight: 100;
    src: url('./NeueHaasDisplayLight.ttf');
}

@font-face {
    font-family:neu ;
    font-weight: 200;
    src: url('./NeueHaasDisplayRoman.ttf');
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'neu';
}
html,body{
    height: 100%;
    width:100%;
    background-color: black;
}
#page1{
    min-height:100vh;
    width: 100%;
    background-color: black;
    position: relative;
    padding: 0 2vw;
}
nav {
    padding: 2vw 2vw;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: space-between;
}
#nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}
#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #fffefeaa;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.3s;
}
#nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    color: #ffffffe3;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#page1 nav img{
    height: 100% ;
}
#nav-part2 h4:hover a{
    color: black;
}
#center{
    height: 65vh;
    width:100%;
    /* background-color: orange; */
    color: #ffffffe3;
    display: flex;
    align-items:flex-end;
    border-bottom: 1px solid #ffffff6b;
    justify-content: space-between;
    padding-bottom: 2.5vw;
}
#left h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}
#center h1{
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}
#page1 video{
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
    position: relative;
} 

#hero-shape{
    position: absolute;
    height: 30vw;
    width: 40vw;
    /* background-color: #FE410F; */
    /* border-radius: 50%; */
    /* border-top-left-radius: 50%;
    border-bottom-left-radius: 50%; */
    right: 0;
    top: 90vh;
    /*  */
}
#hero1 {
    background-color: #FE320A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(30px);
    position: absolute;
}

#hero2 {
    background: linear-gradient(#FE320A, #fe3f0a);

    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(30px);
}

#hero3 {
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 30vw;
    position: absolute;
    width: 30vw;
    border-radius: 50%;
    filter: blur(30px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#page2{
    min-height: 100vh;
    width: 100%;
    position:relative;
    /* background-color: rgba(249, 59, 59, 0.899); */
}
#moving-text{
    white-space: nowrap;
}
.con{
    /* background-color: lightblue; */
    padding-top: 6vh;
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
#moving-text{
     white-space: nowrap;
    overflow-x: auto;
}
#moving-text::-webkit-scrollbar{
    display: none;
}
#moving-text h1{
    font-size: 9vw;
    display: inline-block;
    color: #fff;
}
#gol{
    height: 70px;
    width: 70px;
    background-color: #FE320A;
    border-radius: 50%;
    display: inline-block;
    margin: 1vw 2vw;
}
#pg2-btm{
    height: 80vh;
    width: 100%;
    /* background-color: aliceblue; */
    padding: 4.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    position: relative;
    z-index: 9;
}
#pg2-btm h1{
    font-size: 3.5vw;
    width: 2%;
}

#btm-pt2{
    width: 30%;
}
#btm-pt2 img{
    padding-top: 2vw;
    width: 75%;
    border-radius: 20vh;
}
#btm-pt2 p{
    font-weight: 200;
    margin-top:2vw;
    font-size: 1.5vw;
}

@keyframes move {
    from{
        transform: translateX(0);
    }
    TO{
        transform: translateX(-100%);
    }
    
}


@keyframes anime1 {
    from {
        transform: translate(55%, 10%);
    }

    to {
        transform: translate(0%, 20%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}



#page2 #gol2{
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(to top right,#fd2b01, #fe700a);
    top: 60%;
    left: 25%;
    filter: blur(30px);
    animation-name: agol;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    
}

#gola1{
    height: 100%;
    width: 100%;
}

#page3{
    padding-top: 8vw 0;
    min-height: 100vh;
    width: 100%;
    /* background-color:#FE320A; */
}
@keyframes agol{
    from{
        transform:translate(10%,-10%) skew(0)
    }
    to{
        transform:translate(-10%,10%) skew(-12deg)
    }
}

.elem{
    height: 100px;
    width: 100%;
    color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0 2vw;
}
.elem h2{
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

.elem .overlay{
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.4s;
}
.elem:hover .overlay{
    top: 0;
}
#fixed-img{
    height: 30vw;
    width: 23vw;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    top: 25%;
    left: 50%;
    display: none;
}